
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Speech Detection</title>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div>
  <video id="video" width="720" height="560" autoplay muted></video>
  <canvas id="canvas" style="visibility: hidden"></canvas>
    <div>
      Sad
       <select id="sad" name="browsers">
        <option value="red">빨강</option>
        <option selected value="blue">파랑</option>
        <option value="green">초록</option>
        <option value="purple">보라</option>
        <option value="g">갈색</option>
        <option value="black">검정</option>
        </select><br>
      Angry
       <select id="browsers" name="browsers">
        <option selected value="red">빨강</option>
        <option value="blue">파랑</option>
        <option value="green">초록</option>
        <option value="purple">보라</option>
        <option value="g">갈색</option>
        <option value="black">검정</option>
        </select><br>
      Surprise
       <select id="Surprise" name="browsers">
        <option value="red">빨강</option>
        <option value="blue">파랑</option>
        <option selected value="green">초록</option>
        <option value="purple">보라</option>
        <option value="g">갈색</option>
        <option value="black">검정</option>
       </select><br>
      Nervous
       <select id="Stressful" name="browsers">
        <option value="red">빨강</option>
        <option value="blue">파랑</option>
        <option value="green">초록</option>
        <option selected value="purple">보라</option>
        <option value="g">갈색</option>
        <option value="black">검정</option>
       </select><br>
      default
       <select id="default" name="browsers">
        <option  value="red">빨강</option>
        <option value="blue">파랑</option>
        <option value="green">초록</option>
        <option value="purple">보라</option>
        <option value="g">갈색</option>
        <option selected value="black">검정</option>
        </select><br>
      dB
      <input type="text" value ="80" id="dB">
      </div>
  <div style="float:right;width: 50%">
      <div class="words" contenteditable>
  </div>

</div>
</div>
</body>

<script src="{{url_for('static', filename = 'assets/js/face-api.min.js') }}"></script>
<script>
const video = document.getElementById("video");

var emotion = "black"
Promise.all([
  faceapi.nets.tinyFaceDetector.loadFromUri("/static/assets/models"),
  faceapi.nets.faceLandmark68Net.loadFromUri("/static/assets/models"),
  faceapi.nets.faceRecognitionNet.loadFromUri("/static/assets/models"),
  faceapi.nets.faceExpressionNet.loadFromUri("/static/assets/models"),
]).then(startVideo);

function startVideo() {
  navigator.mediaDevices
    .getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err) {
      console.log(err);
    });
}

video.addEventListener("playing", () => {
  const canvas = faceapi.createCanvasFromMedia(video);
  document.body.append(canvas);
  const displaySize = { width: video.width, height: video.height };
  faceapi.matchDimensions(canvas, displaySize);

})

    var canvas = document.getElementById("canvas")
        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }

  window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

  let recognition = new SpeechRecognition();
  let i = 0;

  let texts_arr = [];
  recognition.interimResults = true;
  recognition.lang = 'ko-KR';
  recognition.continuous = true;
  let makeNewTextContent = function() {
    p = document.createElement('p');
    document.querySelector('.words').appendChild(p);
  };

  let p = null;

  recognition.start();
  recognition.onstart = function() {
    makeNewTextContent(); // 음성 인식 시작시마다 새로운 문단을 추가한다.
  };
  recognition.onspeechstart = function() {
  console.log('Speech has been detected');
}
  recognition.onend = function() {
    recognition.start();
  };

  recognition.onresult = function(e) {

    let start = new Date().getTime();  // 시작
    let texts = Array.from(e.results)
            .map(results => results[0].transcript).join("");

    texts.replace(/느낌표|강조|뿅/gi, '❗️');
    var data2 = texts.split(" ")
    var len = data2.length-1;
    texts_arr[len] = data2[len];

    setTimeout(async () => {
    const detections = await faceapi
      .detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
      .withFaceLandmarks()
      .withFaceExpressions();
    console.log(detections[0].expressions.neutral);
    var happy = detections[0].expressions.happy
    var angry = detections[0].expressions.angry
    var sad = detections[0].expressions.sad
    var surprised = detections[0].expressions.surprised
    var neural = detections[0].expressions.neutral
    if(happy > 0.3){
            emotion = "red"
    } else if(angry > 0.3){
        emotion = "purple"
    } else if(sad > 0.3){
        emotion = "blue"
    } else if(surprised > 0.3){
        emotion = "green"
    } else {
        emotion = "black"
    }
  }, 10);
    $.ajax({
        type: 'GET',
        url: '/test3',
        dataType : 'JSON',
        success: function(data){
            console.log(data.result);

            var dB = document.getElementById("dB").value
            if(data.result > dB){
              texts_arr[len] = "<span style=\'font-size:medium;color:"+emotion +"\'>" + texts_arr[len] + "</span>";
            }else{

              texts_arr[len] = "<span style=\'font-size:small;color:"+emotion +"\'>" + texts_arr[len] + "</span>";
            }
            let result = "";
            for(i = 0 ; i < texts_arr.length; i++) {
                if (i > 0) {

                    if (texts_arr[i - 1] == texts_arr[i]){
                        texts_arr.pop
                    }

                }
              result += texts_arr[i]+ " ";
            }
            p.innerHTML = result.replaceAll("undefined", "");
        },
        error: function(request, status, error){
            alert('ajax 통신 실패')
            alert(error);
        }
    })

    let end = new Date().getTime();  // 종료

    console.log("경과 시간 : " + end +" "+ start); // 경과시간(밀리초)
  };
</script>


  <style>
    html {
      font-size: 10px;
    }

    body {
      font-family: 'helvetica neue';
      font-weight: 200;
      font-size: 20px;
    }

    .words {
      max-width: 500px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      width: 100%;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      padding: 1rem 2rem 1rem 5rem;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
      background-size: 100% 3rem;
      position: relative;
      line-height: 3rem;
    }

    p {
      margin: 0 0 3rem;
    }

    .words:before {
      content: '';
      position: absolute;
      width: 4px;
      top: 0;
      left: 30px;
      bottom: 0;
      border: 1px solid;
      border-color: transparent #efe4e4;
    }
  </style>

</html>